---
layout: blog
title: Home
permalink: /
---

<div class="container mtb">
    <div class="row">

        <! -- BLOG POSTS LIST -->
        <div class="col-lg-8">

            {% for post in paginator.posts %}
                {% assign index = true %}
                {% assign desc = true %}
                <! -- Blog Post -->
				<!-- 
                <a href="{{ post.url | prepend: site.baseurl }}">
                    <img class="img-responsive" src="{{ "/assets/img/blog/" | prepend: site.baseurl }}{{ post.img }}">
                </a> 
				-->   
                <a href="{{ post.url | prepend: site.baseurl }}"><h3 class="ctitle">{{ post.title }}</h3></a>
                <p><csmall>{{ post.date | date: "%b %-d, %Y" }}. | By: {{ post.author }}</csmall></p>
                {{ post.excerpt }}
                <p><a href="{{ post.url | prepend: site.baseurl }}">[Read More]</a></p>
                <div class="hline"></div>

                <div class="spacing"></div>
            {% endfor %}

            {% if paginator.total_pages > 1 %}
            <nav id="page-nav" class="clearfix">
                {% if paginator.previous_page %}
                <a class="extend prev" rel="prev" href="{{ paginator.previous_page_path }}"><span></span>Prev</a>
                {% endif %}
                {% if paginator.page == 1 %}
                <span class="page-number current">1</span>
                {% else %}
                <a class="page-number" href="/">1</a>
                {% endif %}
                {% for i in (2..paginator.total_pages) %}
                {%if i == paginator.page %}
                <span class="page-number current">{{ i }}</span>
                {% else %}
                <a class="page-number" href="/page{{ i }}">{{ i }}</a>
                {% endif %}
                {% endfor %}
                {% if paginator.next_page %}
                <a class="extend next" rel="next" href="{{ paginator.next_page_path }}">Next<span></span></a>
                {% endif %}
            </nav>
            {% endif %}

        </div><! --/col-lg-8 -->


        

        


        

    </div><! --/row -->

    
    

</div><! --/container -->